# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*W
lerna-debug.log*

node_modules
dist
dist-ssr
*.tsbuildinfo
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tmp/
deploy/tmp/
deploy/productions/
*.gz
dist-release/
*.exe
graphify-out/