@import "tailwindcss";

.custom-widget-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--win-border) transparent;
}

.custom-widget-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-widget-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-widget-scrollbar::-webkit-scrollbar-thumb {
  background: var(--win-border);
  border-radius: 9999px;
}
